body {
  background: #789;
  color: white;
  font-family: sans-serif;
}

header, footer {
  margin: 2em;
  text-align: center;
}

footer a {
  margin: 1em;
}

main {
  margin: 2em;
  line-height: 1.5;
  box-sizing: border-box;
  width: 34%;
  min-width: 23em;
  margin: 0 auto;
}

label {
  display: block;
  font-family: inherit;
  margin-bottom: .5rem;
  margin-top: 1rem;
}

input, textarea {
  box-sizing: border-box;
  font-family: inherit;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

button {
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
  color: #fff;
  background-color: #006efd;
  border-color: #0d6efd;
  margin: 1rem 0;
  cursor: pointer;
}

button:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.success {
  color: lightgreen;
}

.error {
  color: darkred;
}
